OPENAI_API_KEY='FAKE.sk-proj-W.FAKE.1DxImeYXR9tAxAq1G8T2Yti31HKEnZGb25JlvEoZuYJb2ulCGSCiegHYZyLQ91xsRzUXSpZG6T3BlbkFJ.FAKE.OREEyqZ5uUTtPW9FhzqJX_7iJA3rKqrHu_tZyiVL7R1rWM4YdyE_EE8Bm.FAKE.Qz17fGPf_biAA.FAKE.tM8A'
TAVILY_API_KEY='tvly-id.....'